.channel-card-img {
  border-radius: 50%;
  height: 200px;
  justify-self: center;
}

.link {
  text-decoration: none;
  width: fit-content;
}

.channel-description {
  color: white;
}

.channel-card-title {
  align-self: center;
  justify-self: center;
  color: whitesmoke;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
