.video-card-info-container {
  background-color: rgb(23, 23, 23);
  padding: 8px 12px;
  margin-top: 16px;
  height: 140px;
  display: flex;
  flex-direction: column;
  width: 360px;
  box-sizing: border-box;
}

.card-title {
  color: whitesmoke;
  margin: 4px 0;
  font-size: 20px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  overflow: hidden;
}

.card-channel {
  color: rgb(180, 180, 180);
  margin: 8px 0;
}

.video-posted-date {
  color: rgb(218, 218, 218);
  margin: 0;
}

.link {
  display: block;
  text-decoration: none;
  width: fit-content;
}

.video-card-container {
  margin-bottom: 24px;
  width: 360px;
}

.image-container {
  width: 360px;
}

.video-card-img {
  width: 360px;
}

.video-card-link {
  width: 360px;
}
