.home-grid{
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 240px 1fr;
}

.video-grid {
  display: grid;
  grid-template-columns: repeat(4, 360px);
  gap: 24px;
  grid-area: 2 / 2 / 3 / 3;
  width: 1400px;
}

.home-container {
  /* display: grid; */
}

.sidebar-container {
  grid-area: 2 / 1 / 3 / 2
}

h1 {
  color: white;
  grid-area: 1 / 2 / 2 / 3
}
