nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  background-color: black;
  height: 7vh;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  padding: 8px 16px;
}

.youtube-logo {
  height: 48px;
}

form {
  display: flex;
  align-self: center;
}

.navbar-search-input {
  width: 360px;
  padding: 8px 16px;
  border-radius: 99px;
  border: none;
}

.logo-paragraph {
  color: white;
  font-weight: 600;
  font-size: 24px;
  margin: 0;
  align-self: center;
}

.logo-container {
  display: flex;
}
