.comment-container {
  display: flex;
  margin-bottom: 12px;
}

.comment-author-name {
  margin: 0;
  color: rgb(153, 153, 153);
}

.comment-date {
  margin: 0 8px;
  font-size: 16px;
  color: rgb(192, 192, 192);
}

.comment-content {
  margin: 8px 0;
  color: rgb(230, 230, 230)
}

.comment-author-date {
  display: flex;
  margin-top: 4px;
}

.comment-text-container {
  margin-left: 16px;
}
