.video-id-container {
  color: white;
  width: 80%;
  height: 100%;
  display: grid;
  grid-template-columns: 960px 1fr;
  gap: 24px;
  margin: auto;
}

.video-details {
  display: flex;
  justify-content: space-between;
}

.title-channel-container {
  display: flex;
  justify-content: space-between;
}

.channel-title {
  align-self: center;
  color: rgb(173, 173, 173);
  font-weight: 700;
}

iframe {
  border: none;
}

.video-btn {
  background-color: rgb(23, 23, 23);
  border: none;
  color: whitesmoke;
  font-size: 18px;
  margin-left: 8px;
}

.video-likes {
  display: flex;
  align-items: center;
}

.video-info {
  background-color: rgb(23, 23, 23);
  padding: 8px 16px;
  margin-bottom: 24px;
}

ul {
  list-style: none;
  padding: 0;
  margin-left: 32px;
  margin-top: 0;
}
